
[submodule "packages/wive"]
	path = packages/wive
	url = https://github.com/vitalygashkov/wive
[submodule "packages/wivenative"]
	path = packages/wivenative
	url = https://github.com/vitalygashkov/wivenative
[submodule "packages/wiveproto"]
	path = packages/wiveproto
	url = https://github.com/vitalygashkov/wiveproto
[submodule "src"]
	path = src
	url = https://github.com/vitalygashkov/streamyx-sources.git
[submodule "packages/dasha"]
	path = packages/dasha
	url = https://github.com/vitalygashkov/dasha.git
[submodule "packages/plugin"]
	path = packages/plugin
	url = https://github.com/vitalygashkov/streamyx-plugin.git
[submodule "packages/wink"]
	path = packages/wink
	url = https://github.com/vitalygashkov/streamyx-wink.git
[submodule "packages/crunchyroll"]
	path = packages/crunchyroll
	url = https://github.com/vitalygashkov/streamyx-crunchyroll.git
[submodule "packages/esor"]
	path = packages/esor
	url = https://github.com/vitalygashkov/esor.git
[submodule "packages/boosty"]
	path = packages/boosty
	url = https://github.com/vitalygashkov/streamyx-boosty.git
