
[submodule "packages/keystone"]
	path = packages/keystone
	url = https://github.com/vitalygashkov/keystone.git
[submodule "src/providers"]
	path = src/providers
	url = https://github.com/vitalygashkov/streamyx-providers.git
